/* ------------------------------------------------------------ *\
	Generic
\* ------------------------------------------------------------ */

@import "../generic/variables";
@import "../generic/functions";
@import "../generic/mixins";

/* ------------------------------------------------------------ *\
	Block: Section Footer (Admin)
\* ------------------------------------------------------------ */

.acf-block-preview .footer * {
	pointer-events: none !important;

	& .post-empty-message a {
		pointer-events: auto !important;
	}
}

/* ------------------------------------------------------------ *\
	Block: Section Footer (Front)
\* ------------------------------------------------------------ */

.footer,
.acf-block-preview .footer {

}
