/* ------------------------------------------------------------ *\
	Generic
\* ------------------------------------------------------------ */

@import "../generic/variables";
@import "../generic/functions";
@import "../generic/mixins";

/* ------------------------------------------------------------ *\
	Block: Section Header (Admin)
\* ------------------------------------------------------------ */

.acf-block-preview .header * {
	pointer-events: none !important;

	& .post-empty-message a {
		pointer-events: auto !important;
	}
}

/* ------------------------------------------------------------ *\
	Block: Section Header (Front)
\* ------------------------------------------------------------ */

.header,
.acf-block-preview .header {

}
