/* ------------------------------------------------------------ *\
	Generic
\* ------------------------------------------------------------ */

@import "../generic/variables";
@import "../generic/functions";
@import "../generic/mixins";

/* ------------------------------------------------------------ *\
	Block: Section More By Author (Admin)
\* ------------------------------------------------------------ */

.acf-block-preview .section-more-by-author * {
	pointer-events: none !important;

	& .post-empty-message a {
		pointer-events: auto !important;
	}
}

/* ------------------------------------------------------------ *\
	Block: Section More By Author (Front)
\* ------------------------------------------------------------ */

.section-more-by-author,
.acf-block-preview .section-more-by-author {

}